{% load custom_filters %}
{% load custom_tags %}

{% favorites as favorites %}

{% if materials %}
    {% for material in materials %}
        <ul>
            <li><h2>{{ material.number }}</h2>
                <h3><b>Категория: {{ material.category.name }}</b></h3>
                <p><b>Объём: {{ material.volume }} гр.(мл.)</b></p>
                <p>Количество: {{ material.quantity|divider:material.volume }} шт., {{ material.quantity|reminder:material.volume }} гр.</p>
                <button><a href="{% url 'expense' material.id %}">Расход</a></button>
                <button><a href="{% url 'incoming' material.id %}">Добавить</a></button>
                {% if is_admin %}
                <button><a href="{% url 'delete' material.id %}">Удалить</a></button>
                {% if material.pk in favorites %}
                <button><a href="{% url 'del_from_favorites' material.id %}">Убрать из избранного</a></button>
                {% else %}
                <button><a href="{% url 'add_to_favorites' material.id %}">Добавить в избранное</a></button>
                {% endif %}
                {% endif %}
            </li>
        </ul>
    {% endfor %}
{% else %}
<h2>Материалы отсутствуют</h2>
{% endif %}