{% load custom_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if is_admin %}
    <h1>Режим администрирования <button><a href="{% url 'logout' %}">Выйти</a></button></h1>
{% endif %}
<nav>
    <h1>
        <a href="{% url 'home' %}">Каталог</a> |

        {% if is_admin %}
        <a href="{% url 'create' %}">Добавить новый материал</a> |
        {% endif %}
        {% if not request.user.is_authenticated %}
        <button><a href="{% url 'login' %}">Войти</a></button>
        {% endif %}
    </h1>
</nav>
{% block content %}
{% endblock content %}
</body>
</html>